body{
margin:0;
font-family:Arial, sans-serif;
}

.background{
background-image: url(image.jpg);
background-size:cover;
background-position:center;
height:100vh;

text-align:center;
}

h1{
color:white;
font-size:70px;
padding-top:120px;
margin-bottom:40px;
text-shadow:2px 2px 5px black;
}

.container{
display:flex;
justify-content:center;
gap:20px;
}

.box{
width:180px;
height:140px;
background:white;
border:2px solid gray;
border-radius:5px;
padding:15px;
}

.box h3{
margin-top:20px;
}

.box p{
font-size:15px;
}